In [1]:
import numpy as np

## DataTypes & Attributes

In [2]:
# NumPy's main datatype is ndarray
a1 = np.array([1,2,3])
a1 # 1 row, 3 columns: vector

array([1, 2, 3])

In [6]:
a2 = np.array([[1,2,3],
              [4,5,6]])

a3 = ([[[1,2,3],
        [4,5,6],
        [7,8,9]]])

In [4]:
a2 # 2 rows, 3 columns: matrix

array([[1, 2, 3],
       [4, 5, 6]])

In [5]:
a3

[[[1, 2, 3], [4, 5, 6], [7, 8, 9]]]

In [7]:
a1.shape

(3,)

In [8]:
a2.shape

(2, 3)

In [9]:
a1.ndim, a2.ndim # number of dimensions

(1, 2)

In [10]:
a1.dtype

dtype('int64')

In [11]:
a1.size, a2.size # total number of elements in an array

(3, 6)

In [12]:
type(a1), type(a2)

(numpy.ndarray, numpy.ndarray)

In [13]:
# Create a DataFrame from a NumPy array
import pandas as pd

df = pd.DataFrame(a2)
df

   0  1  2
0  1  2  3
1  4  5  6